<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forum</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1 class="title" id="title"></h1><br>
    <a href="add_forumf"><button class="add_forum">FORUM OLUŞTUR</button></a>
    <form class="select" method="post" action="/redirectCategory">
        <select name="kategoriler" required>
            <option value="/main">Ana Sayfa</option>
            <option value="/veribilimi">Veri Bilimi</option>
            <option value="/donanim">Bilgisayar Donanımı</option>
            <option value="/yazilim">Bilgisayar Yazılımı</option>
            <option value="/etikhacking">Etik Hacking</option>
            <option value="/android">Android</option>
            <option value="/ios">iOS</option>
            <option value="/linux">Linux</option>
            <option value="/windows">Windows</option>
        </select>
        <button type="submit">GİT</button>
    </form>
    <a href='/user'><button class="user">KULLANICI</button></a>
    <br><br><br><hr class="sep_1">
    {% block content %}
    {% for forum in forums %}
        <div class="forum">
            <a href='/{{ forum.forum_id }}'><h2 class="forum_title">{{ forum.forum_title }}</h2></a>
        </div>
    {% endfor %}
    {% endblock %} 
    <script src="../static/js/index.js"></script>
</body>
</html>
