<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alForum:kaydol</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <h1 class="title">alForum'a kayıt ol</h1>
    <form action="/register_backend" method="post">
        <input name="reg_username" placeholder="KULLANICI ADI" required autocomplete="off"><br><br>
        <input name="reg_password" placeholder="ŞİFRE" required autocomplete="off"><br><br>
        <button type="submit">KAYDOL</button>
    </form>
</body>
</html>